/*--reset--*/

/*html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*/

/*--start editing from here--*/

html {
    font-size: 1.0em;
}
a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}



/* text align right */

.txt-lt {
    text-align: left;
}



/* text align left */

.txt-center {
    text-align: center;
}



/* text align center */

.float-rt {
    float: right;
}



/* float right */

.float-lt {
    float: left;
}



/* float left */

.clear {
    clear: both;
}



/* clear float */

.pos-relative {
    position: relative;
}



/* Position Relative */

.pos-absolute {
    position: absolute;
}



/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}



/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}



/* vertical align top */

nav.vertical ul li {
    display: block;
}



/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}



/* horizontal menu */

img {
    max-width: 100%;
}



/*--end reset--*/

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fdfbfb;
    word-spacing: 11px;
    letter-spacing: 6px;
    margin: 1.6em 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}



/*--reservation--*/

.reservation-info {
    margin-top: 8em;
}

#flight-search-panel , #book-flight-panel{
    background: rgba(33,52,69, 1);
    padding: 35px;
    /*min-width: 500px;*/
    margin: 0 auto 30px;
}

.reservation-info h4 {
    font-size: 3em;
    color: #800;
    line-height: 1.6em;
}

.reservation-info h5 {
    font-size: 2em;
    color: #fff;
    line-height: 1.8em;
}

.reservation-info h5 span.glyphicon {
    font-size: 0.8em;
    vertical-align: middle;
}

#flight-search-panel label, #book-flight-panel label  {
    font-size: 14px;
    color: #fff;
    /* margin-bottom: 1em; */
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    text-transform: uppercase;
}

#flight_book_form > legend  {
    font-size: 16px;
    color: #fff;
}

#flight-search-panel label i, #book-flight-panel label i {
    font-size: 1em;
    margin-right: 10px;
    color: #4187b7;
}

#flight-search-panel input[type="text"],
#flight-search-panel input[type="date"],
#flight-search-panel input[type="time"],
#flight-search-panel input[type="email"],
#book-flight-panel input[type="text"],
#book-flight-panel input[type="date"],
#book-flight-panel input[type="time"],
#book-flight-panel input[type="email"]

{
    color: #9a9797;
    outline: none;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 10px;
    border: 2px solid #fff;
    -webkit-appearance: none;
    font-family: 'Roboto', sans-serif;
    /*background: none;*/
}

#flight-search-panel select.form-control {
    outline: none;
    font-size: 1em;
    padding: 5px 10px;
    line-height: 25px;
    border-radius: 0;
    background: none;
    color: #9a9797;
    border: 2px solid #fff;
    font-family: 'Roboto', sans-serif;
}

#flight-search-panel input[type=submit] {
    color: #FFF;
    padding: 9px 30px;
    font-size: 1.04em;
    cursor: pointer;
    border: 2px solid #4187b7;
    outline: none;
    background: #4187b7;
    font-family: 'Roboto', sans-serif;
}

#flight-search-panel input[type=submit]:hover {
    background: #fff;
    color: #4187b7;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}


#book-flight-panel select.form-control {
    outline: none;
    font-size: 1em;
    padding: 5px 10px;
    line-height: 25px;
    border-radius: 0;
    background: none;
    color: #9a9797;
    border: 2px solid #fff;
    font-family: 'Roboto', sans-serif;
}

#book-flight-panel input[type=submit] {
    color: #FFF;
    padding: 9px 30px;
    font-size: 1.04em;
    cursor: pointer;
    border: 2px solid #4187b7;
    outline: none;
    background: #4187b7;
    font-family: 'Roboto', sans-serif;
}

#book-flight-panel input[type=submit]:hover {
    background: #fff;
    color: #4187b7;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.arrows-reserve {
    position: relative;
    color: #EFA52C;
    font-size: 2em;
}

.arrows-reserve:before {
    content: '';
    position: absolute;
    bottom: 43%;
    left: 35.5%;
    background: #fff;
    width: 11%;
    height: 3px;
}

.arrows-reserve:after {
    content: '';
    position: absolute;
    bottom: 43%;
    right: 35.5%;
    background: #fff;
    width: 11%;
    height: 3px;
}

#flight-search-panel form, #book-flight-panel form {
    margin-top: 1px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*--//reservation--*/


/*--responsive-design--*/

@media(max-width:1440px) {
    h1 {
        font-size: 33px;
    }
}

@media(max-width:1366px) {}

@media(max-width:1280px) {
    h1 {
        font-size: 30px;
        word-spacing: 3px;
        letter-spacing: 5px;
        margin: 1.5em 0;
    }
    #flight-search-panel label {
        font-size: 14px;
    }
    #flight-search-panel input[type=submit] {
        margin-top: 2em;
    }
}

@media(max-width:1080px) {
    #flight-search-panel input[type="text"],
    #flight-search-panel input[type="date"],
    #flight-search-panel input[type="time"],
    #flight-search-panel input[type="email"] {
        line-height: 22px;
    }
    #flight-search-panel input[type=submit] {
        margin-top: 2.5em;
        padding: 7px 24px;
        font-size: 1.03em;
    }
}

@media(max-width:1024px) {
    #flight-search-panel {
        padding: 28px;
    }
    #flight-search-panel label {
        font-size: 13.4px;
        margin-left: 9px;
        margin-bottom: 7px;
    }
    #flight-search-panel label i {
        margin-right: 6px;
    }
    h1 {
        font-size: 27px;
    }
}

@media(max-width:991px) {
    #flight-search-panel input[type=submit] {
        font-size: 1em;
    }
}

@media(max-width:768px) {
    h1 {
        margin: 3.5em 0;
    }
}

@media(max-width:767px) {
    h1 {
        font-size: 23px;
        word-spacing: 0px;
        letter-spacing: 3px;
        margin: 1.18em 0;
    }
    #flight-search-panel input[type=submit] {
        margin-top: 2.2em;
    }
    #flight-search-panel {
        padding: 28px 28px 28px;
    }
}

@media(max-width:480px) {
    #flight-search-panel input[type=submit] {
        padding: 5px 16px;
        font-size: .9em;
    }
    h1 {
        font-size: 20px;
        letter-spacing: 2px;
        margin: 1.66em 0;
    }
}

@media(max-width:414px) {
    h1 {
        font-size: 18px;
        letter-spacing: 1.5px;
        margin: 1.7em 0;
    }
    .bottom-w3ls {
        margin-bottom: 1em;
    }
    #flight-search-panel input[type=submit] {
        margin-top: 1.5em;
    }
    #flight-search-panel {
        padding: 28px;
    }
}

@media(max-width:384px) {
    h1 {
        font-size: 17px;
    }
}

@media(max-width:375px) {}

@media(max-width:320px) {
    #flight-search-panel label {
        font-size: 11.4px;
        margin-left: 6px;
        margin-bottom: 6px;
    }
    h1 {
        line-height: 28px;
        margin: 1.2em 0 1em;
    }
    #flight-search-panel input[type="text"],
    #flight-search-panel input[type="date"],
    #flight-search-panel input[type="time"],
    #flight-search-panel input[type="email"] {
        font-size: 14px;
    }
    #flight-search-panel {
        padding: 25px;
    }
    #flight-search-panel select.form-control {
        width: 100%;
    }
    #flight-search-panel input[type=submit] {
        margin-top: 1em;
    }
}

.ui-datepicker {
    z-index: 99 !important;
}

.combobox-container .dropdown-menu {
    font-size: 12px;
}

.date_slector {
    width: 49.5%;
    display: inline-block;
    vertical-align: top;
}

#ui-datepicker-div {
    border: none !important;
}

.input-group .form-control:active,
.input-group .form-control:focus,
.input-group .form-control:hover {
    outline: none !important;
    box-shadow: none;
}

.help-block {
    margin: 5px 0;
    color: #c96d60;
    font-style: italic;
    display: block;
    max-width: 85%;
    font-size: 12px;
}

.loading {
    position: relative;
}

.loading:after {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    content: '';
    z-index: 99;
}

#loader {
    position: absolute;
    left: 230px;
    top: 200px;
    z-index: 100;
}

.combobox-container .help-block {
    position: absolute;
    top: 30px;
}

.combo_slector.has-error {
    margin-bottom: 30px;
}


/*--//responsive-design--*/

.has-success .form-control:focus {
    border-color: #4187b7;
    box-shadow: inset 0 1px 1px rgba(167, 25, 65, 0.5), 0 0 6px #4187b7
}

.has-success .input-group-addon {
    color: #4187b7;
    background-color: #fff;
    border-color: #4187b7;
}

.custab {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
}

.custab:hover {
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
}

.custab thead {
    background-color: #4187b7;
    color: #fff;
}

.panel-heading h3.panel-title {
    color: #4187b7;
    font-size: 3em;
}


.selectButtonSmall  {
    background-color:  rgb(194,36,44);
    border-color: rgb(194,36,44);
    color: white;
    border-width: 3px;
    width: 100px;
}

.searchButtonFares  {
    background-color: #4187b7;
    border-color:  #4187b7;
    color:  white;
    border-width: 3px;
    max-width: 415px;
}

.offerItem {
    /*border-width: 0.25px;*/
    /*border-color-color: #d2b356;*/
    /*border-top: solid;*/
    margin-top: 5px;
    margin-bottom: 10px;
    /*margin-left: 50px;*/
}

.offerPrice {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    color: #00305b;
}

.offerPriceSmall {
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    min-width: 240px;
    font-size: 1.3em;
    color: #4187b7;
    /*text-align: left;*/
    margin-top: 10px;
    height: 50px;
}

.duration {
    font-weight: bolder;
    font-size: 1.0em;
}

.durationSmall {
    font-weight: bolder;
    font-size: 1.3em;
    width: 200px;
}



.durationSmallSabre {
    font-weight: bolder;
    font-size: 1.2em;
    width: 200px;
}

.anctTotal {
    font-weight: bolder;
    font-size: 1.3em;
    width: 200px;
    color: green;
}

.andesc {
    width: 320px;
    height: 20px;
    /*margin-left: 10px;*/
    margin-top: 5px;
    color: green;
}

.ancillariesList {
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.ancillariesListSmall {
    width: 230px;
    margin-left: 10px;
}
.ancillaryItem {
    margin-left: 10px;
    outline: none;
}

.segmentsAndServices {
    margin-left: 20px;
    padding: 10px;
}

.flightNumber {
    float: left;
    width: 75px;
}
.segments {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.9em;
}

.segmentsAndServicesSmall {
    font-family: 'Roboto Mono', monospace;
    margin-left: 5px;
    min-width:60%;
}
.airlineName {
    margin-top: -7px;
    font-family: Roboto;
    font-size: 2em;
}
.airlineNameSmall {
    margin-top: -7px;
    font-family: Roboto;
}
.airlineLogo {
    width: 200px;
    font-size: 1.3em;
}
.trip {
    margin-bottom: 20px;
}


#eventAirport {
    color: #fff;
}

#eventInformation {
    font-size: 1.5em;
    font-weight: 800;
}

#gotFlights {
    display: none;
}

.ui-widget {
    font-size: 1.3em;
}

.flightsContainer {
    max-width: 400px;
}

#book-flight-panel {
    display:none;
}