<div id="searchFlightsForm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id='loader' class="loader"></div>
                <div id="eventInformation"></div>
                <div id="flight-search-panel">
                    <form id="flight_search_form">

                        <div class="form-group">
                            <label><i class="fa fa-home" aria-hidden="true"></i> Origin</label>
                            <div class="selector combo_selector">
                                <div class="ui-widget">
                                    <input id="origin" size="50" class="airports form-control" required>
                                </div>
                            </div>
                        </div>
                        <!-- Not used when using this to search for flights to an event -->
                        <div class="form-group" id="destinationAirportCombo">
                            <div class="selector combo_selector">
                                <label><i class="fa fa-plane" aria-hidden="true"></i> Destination</label>
                                <div class="ui-widget">
                                    <input id="destination" size="50" class="airports form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label><i class="fa fa-home" aria-hidden="true"></i>Destination</label>-->
                            <div class="form-group">
                                <div class="ui-widget">
                                    <div id="eventAirport"></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><i class="fa fa-calendar" aria-hidden="true"></i>Leaving</label>
                            <br>
                            <div class="date_selector selector">
                                <input id="leaving" name="leaving" class="form-control" type="text" placeholder="mm/dd/yyyy" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label><i class="fa fa-calendar" aria-hidden="true"></i>Returning</label>
                            <br>
                            <div class="date_selector selector">
                                <input id="returning" name="returning" class="form-control" type="text" placeholder="mm/dd/yyyy" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label><i class="fa fa-user" aria-hidden="true"></i> adults</label>
                            <div class="selector">
                                <input type="number" class="form-control" id="adults" name="adults" placeholder="Number of Adults" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label><i class="fa fa-user" aria-hidden="true"></i> Children</label>
                            <div class="selector">
                                <input type="number" class="form-control" id="children" name="children" placeholder="Number of Children" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label><i class="fa fa-user" aria-hidden="true"></i> Infants</label>
                            <div class="selector">
                                <input type="number" class="form-control" id="infants" name="infants" placeholder="Number of infants" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label><i class="fa fa-money" aria-hidden="true"></i> Currency</label>
                            <div class="selector">
                                <select id="currency">
                                    <option value="USD">US Dollars</option>
                                    <option value="CAD">Canadian Dollar</option>
                                    <option value="EUR">Euro</option>
                                    <option value="GBP">British Pounds</option>
                                    <option value="INR">Indian Rupee</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label><i class="fa fa-envelope" aria-hidden="true"></i> Email Address</label>
                            <div class="selector">
                                <input type="email" class="form-control" name="email" placeholder="Your Email" id="email" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="button" class="btn-block" value="Search" id='searchFlights'>
                        </div>
                    </form>

                </div>

                <!-- Flight Results-->
                <div class="panel panel-default" id="gotFlights">
                    <div class="panel-heading">
                        <h3 class="panel-title">Flights</h3>
                    </div>
                    <div class="panel-body" id="flightResults">
                    </div>
                </div>

                <center>
                    <div id="eventInformationBook"></div>
                </center>
                <div id="book-flight-panel">

                    <form id="flight_book_form">
                        <legend>Passenger</legend>
                        <div class="form-group">
                            <label> Last Name</label>
                            <div class="selector">
                                <input type="surname" class="form-control" name="surname" placeholder="Surname" id="surname" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <div class="selector">
                                <input type="text" class="form-control" name="name" placeholder="Name" id="name" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Birthday</label>
                            <br>
                            <div class="date_selector selector">
                                <input id="dob" name="dob" class="form-control" type="text" placeholder="mm/dd/yyyy" required="">
                            </div>
                        </div>


                        <div class="form-group">
                            <label>Gender</label>
                            <div class="selector">
                                <select id="gender">
                                    <option value="F">Female</option>
                                    <option value="M">Male</option>
                                </select>
                            </div>
                        </div>

                        <legend>Payment</legend>
                        <div class="form-group">
                            <label>Name</label>
                            <div class="selector">
                                <input type="text" class="form-control" name="nameOnCard" placeholder="Name On Card" id="nameOnCard" required  maxlength="60"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Card Number</label>
                            <div class="selector">
                                <input type="text" class="form-control" name="cardNumber" placeholder="Card Number" id="cardNumber" required maxlength="17" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Expiry</label>
                            <div class="selector">
                                <select id="month">
                                    <option>Month</option>
                                    <option value="01">Jan (01)</option>
                                    <option value="02">Feb (02)</option>
                                    <option value="03">Mar (03)</option>
                                    <option value="04">Apr (04)</option>
                                    <option value="05">May (05)</option>
                                    <option value="06">June (06)</option>
                                    <option value="07">July (07)</option>
                                    <option value="08">Aug (08)</option>
                                    <option value="09">Sep (09)</option>
                                    <option value="10">Oct (10)</option>
                                    <option value="11">Nov (11)</option>
                                    <option value="12">Dec (12)</option>
                                </select>
                                <select id="year">
                                    <option value="18">2018</option>
                                    <option value="19">2019</option>
                                    <option value="20">2020</option>
                                    <option value="21">2021</option>
                                    <option value="22">2022</option>
                                    <option value="23">2023</option>
                                    <option value="24">2024</option>
                                    <option value="25">2025</option>
                                    <option value="26">2026</option>
                                    <option value="27">2027</option>
                                    <option value="27">2028  </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>CVC</label>
                            <div class="selector">
                                <input type="text" class="form-control" name="cvv" placeholder="CVV" id="cvv" required maxlength="3" />
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn-block" value="Book" id='bookFlightsButton'>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>